body.background {
    position: relative;
    background-color: #fff; /* fallback color if image is not loaded */
}

body.background::after {
    content: "";
    background: url(../weatherapp.webp); /* path to your image */
    opacity: 0; /* adjust as needed */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;     
    background-size: cover; /* to cover the whole area */
    width: 100%;
    height: 100%;}