<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>Wheather Data API</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/background.css') }}">
        
</head>
<body class="background">
        
        <nav>
                <a href="/about/">About</a>
                <a href="/contact/">Contact</a>
        </nav>
        
        <h1>Wheather Data API</h1>
        
        <!-- <img src="{{url_for('static',filename='weatherapp.webp')}}" style="width: 500px; "> -->
        <br>
        
        <p>URL format: http://127.0.0.1:5000/api/v1/station/date</p>
        <p>One station and one date: <a href="http://127.0.0.1:5000/api/v1/10/19881025">http://127.0.0.1:5000/api/v1/10/19881025</a></p>
        <p>One station and all date: <a href="http://127.0.0.1:5000/api/v1/10">http://127.0.0.1:5000/api/v1/10</a></p>
        <p>One station and a year: <a href="http://127.0.0.1:5000/api/v1/yearly/10/1983">http://127.0.0.1:5000/api/v1/yearly/10/1983</a></p>
        
        <p>{{stations | safe}}</p>
        
</body>
</html>